<div class="container">
  <mat-card id="main-container">
    <mat-card-header>
      <mat-card-title>Reports </mat-card-title>
      <mat-card-subtitle>Send Email report</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      <form class="example-container">
        <div class="padding-spacer emails-block">
          <mat-card class="userEmail">

            <mat-card-header>
              <mat-card-title>Reporter</mat-card-title>
            </mat-card-header>
            <div class="padding-spacer">
              <p>
                <mat-form-field>
                  <input name="reporterName" matInput placeholder="Name" [(ngModel)]="reporterName">
                </mat-form-field>
              </p>
              <p>
                <mat-form-field>
                  <input name="reporterEmail" matInput placeholder="Email" [(ngModel)]="reporterEmail">
                </mat-form-field>
              </p>
            </div>

          </mat-card>
          <mat-card class="userEmail">
            <mat-card-header>
              <mat-card-title>Receiver</mat-card-title>
            </mat-card-header>

            <div class="padding-spacer">
              <p>
                <mat-form-field>
                  <input name="receiverName" matInput placeholder="Name" [(ngModel)]="receiverName">
                </mat-form-field>
              </p>
              <p>
                <mat-form-field>
                  <input name="receiverEmail" matInput placeholder="Email" [(ngModel)]="receiverEmail">
                </mat-form-field>
              </p>
            </div>

          </mat-card>
        </div>


        <div class="padding-spacer">
          <mat-card>
            <p>
              <mat-form-field>
                <input name="subject" matInput placeholder="Subject" [(ngModel)]="subject">
              </mat-form-field>
            </p>
            <p class="magic-item add-btn">
              <mat-form-field>
                <input name="status" matInput placeholder="Status" [(ngModel)]="description">
              </mat-form-field>
              <button (click)="addStatus()" mat-mini-fab class="magic-button">
                <mat-icon aria-label="">add</mat-icon>
              </button>
            </p>
          </mat-card>
        </div>
      </form>
      <mat-divider></mat-divider>
      <p class="textarea">
        <mat-form-field>
          <textarea name="reportTextArea" id="reportTextArea" class="mat-display-1" rows="10" matInput placeholder="Report"
            [(ngModel)]="reportStatusArea"></textarea>
        </mat-form-field>
      </p>


    </mat-card-content>

  </mat-card>
  <p class="send-btn">
    <button (click)="sendData()" mat-raised-button color="primary">Send  <mat-icon aria-label="">send</mat-icon></button>
  </p>
</div>
