<div class="container">
  <mat-card>
    <form class="example-container">
      <div class="emails-block">
        <mat-card>
          <p>
            <mat-form-field>
              <input matInput placeholder="Name from">
            </mat-form-field>
          </p>
          <p>
            <mat-form-field>
              <input matInput placeholder="Email">
            </mat-form-field>
          </p>

        </mat-card>
        <mat-card>
          <p>
            <mat-form-field>
              <input matInput placeholder="Name to">
            </mat-form-field>
          </p>
          <p>
            <mat-form-field>
              <input matInput placeholder="Email">
            </mat-form-field>
          </p>

        </mat-card>
      </div>


      <mat-card>
        <p>
          <mat-form-field>
            <input matInput placeholder="Subject">
          </mat-form-field>
        </p>
        <p class="magic-item button">
          <mat-form-field>
            <input matInput placeholder="Status">
          </mat-form-field>

          <button class="magic-button" mat-raised-button>Add!</button>
        </p>
      </mat-card>
    </form>


    <p>
      <mat-form-field>
        <textarea rows="10" matInput placeholder="Report"></textarea>
      </mat-form-field>
    </p>

    <p class="button">
      <button mat-raised-button color="primary">Send</button>
    </p>

  </mat-card>
</div>
