/* You can add global styles to this file, and also import other style files */

@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

.container {
  display: flex;
  flex-direction: column;
}

.container p * {
  width: 100%;
}
#main-container {
  padding: 0;
}

.mat-card {
  margin: 15px;
}

.emails-block,
.magic-item {
  display: flex;
  .mat-card {
    width: 50%;
  }
}

.magic-item {
  justify-content: space-between;
  .magic-button {
    margin-left: 25px;
  }
}

.button {
  text-align: right;

  button {
    width: 50px;
    height: 50px;
    margin: 15px;
  }
}

.report-area {
  height: 60px;
}

.textarea {
  margin: 25px 15px 0 15px;

}


// Material styles override

mat-card-header {
  background: rgba(0,0,0,.10);
  padding: 15px;
}

mat-card-title {
  color: rgba(0,0,0,.60);
  font-family: Arial, serif;
  font-size: 2em !important;
}

mat-card-subtitle {
  font-family: Arial, serif;
  font-size: 1.3em;
}