/* You can add global styles to this file, and also import other style files */

@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

.container {
  display: flex;
  flex-direction: column;
}

.container p * {
  width: 100%;
}
#main-container {
  padding: 0;
}

.mat-card {
  margin: 15px;
}

.emails-block,
.magic-item {
  display: flex;
  .mat-card {
    width: 50%;
  }
}

.magic-item {
  justify-content: space-between;
  .magic-button {
    margin-left: 25px;
  }
}


.add-btn {
  margin: 15px;
  button {
    width: 50px;
    height: 50px;
  }
}

.send-btn {
  text-align: right;
  margin: 15px;
  button {
    width: auto;
    height: 50px;
    text-align: center;
    mat-icon {
      width: 20px;
      height: 28px;
      margin-left: 10px

    }
  }
}

.report-area {
  height: 60px;
}

.textarea {
  margin: 25px 15px 0 15px;
}

#reportTextArea {
	line-height:30px;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
}

label.mat-form-field-label { /* Chrome/Opera/Safari */
  font-family: 'Montserrat', sans-serif !important;
}

// Material styles override

mat-card-header {
  background: rgba(0,0,0,.10);
  padding: 15px;
}
.padding-spacer{
  padding: 15px;
}

.userEmail {
  padding: 0 !important;
}

mat-card-title {
  color: #333333;
  font-family: 'Montserrat', sans-serif;
  font-size: 2em !important;
}

.emails-block {

  mat-card-title {
    color: #333333;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5em !important;
  }

}

mat-card-subtitle {
  color: rgba(0,0,0,.80);
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5em;
}
